<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paula.apptr">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" /> // permisos camera

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTR2">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pantallaInfo" />
        <activity android:name=".pantallaElsColors" />
        <activity android:name=".PantallaSobreApp" />
        <activity android:name=".pantallaFinalFoto" />
        <activity android:name=".pantallaComFunciona2" />
        <activity
            android:name=".pantallaComFunciona3"
            android:label="@string/title_activity_pantalla_com_funciona3" />
        <activity android:name=".deteccioColors"></activity>
    </application>

</manifest>